resources/*
front/angular.json
resources/contracts/Acuerdo de Confidencialidad.pdf
resources/contracts/Acuerdo de Confidencialidad_borrador.docx
resources/contracts/Acuerdo de Confidencialidad_borrador.pdf
resources/contracts/Contrato de Compraventa_borrador.docx
resources/contracts/Contrato de Compraventa_borrador.pdf
