<div class="p-4 md:p-6 space-y-6">

  <!-- Header -->
  <app-section-header title="Pacientes" subtitle="Gestión de fichas y datos de pacientes" buttonText="Nuevo Paciente"
    [showFiltersButton]="true" filtersButtonText="Filtros" (onButtonClick)="onNewPatientClick()"
    (onFiltersClick)="onFiltersClick()">
  </app-section-header>


  <!-- Patients Grid -->
  <app-patients-list
    [patients]="filteredPatients()"
    [trackByFn]="trackByPatientId"
    (onPatientClick)="onPatientClick($event)">
  </app-patients-list>
</div>
